/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  --inputHeight: 63px;
}

/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

p {
  margin-bottom: 1.25rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

img {
  width: 100%;
  display: block;
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary,
.enroll-button {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}

.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}

.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}

.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}

.enroll-button {
  background: #4c7fdd;
  color: var(--mainWhite);
  border-color: transparent;
  margin-top: 1rem;
  margin-right: 1rem;
}

.enroll-button:hover {
  background: #476a2e;
  color: var(--mainWhite);
}

.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}

.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}

.btn-details {
  padding: 0.25rem 0.4rem;
}

.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}

/* 
====== 
Navbar
======
*/
.navbar-with-profile {
  display: grid;
  grid-template-columns: 90% 10%;
  height: 5rem;
}

.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}

.nav-links a:hover {
  color: var(--primaryColor);
}

.logo {
  width: 12rem;
}

.profile-corner {
  display: grid;
  grid-template-rows: 70% 30%;
}

.profile-container {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}

.profile-container:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}

.error-container {
  text-align: center;
  text-transform: capitalize;
}

/* 
====== 
Blog & Course List 
======
*/

.section {
  padding: 5rem 0;
}

.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.blog-center,
.course-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (min-width: 576px) {

  .blog-center,
  .course-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

/* 
====== 
Blog & Courses 
======
*/

.blog,
.course,
.enrolled-course {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}

.enrolled-course {
  width: 15rem;
}

.blog:hover,
.course:hover,
.enrolled-course {
  box-shadow: var(--darkShadow);
}

.blog img,
.course img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}

.enrolled-course img {
  height: 10rem;
  width: 15rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}

.blog-footer,
.course-footer,
.enrolled-course-footer {
  padding: 1.5rem;
}

.blog-footer h3,
.blog-footer h4,
.blog-footer p,
.course-footer h3,
.course-footer h4,
.course-footer p {
  margin-bottom: 0.3rem;
}

.blog-footer h3,
.course-footer h3 {
  font-size: 2rem;
}

.enrolled-course-footer h4 {
  font-size: 1rem;
}

.blog-footer p,
.course-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}

/* 
====== 
Form
======
*/
.search {
  padding: 2rem 0;
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}

.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* 
====== 
Single Blog Page
======
*/
.blog-body {
  display: grid;
}

.blog-body {
  grid-template-columns: 15% 80% 5%;
}

.blog-thumbnail {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
  padding: 1rem;
}

.blog-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 1rem;
}

.blog-info {
  color: #777;
  display: block;
  float: left;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.54;
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 100%;
  padding-left: 1rem;
}

.blog-writer,
.blog-date,
.blog-tags {
  border-top: 1px solid #eee;
  display: block;
  border-top-color: #777777;
}

.blog-tags {
  border-bottom: 1px solid #eee;
  border-bottom-color: #777777;
  white-space: initial;
}

.course-tags {
  display: block;
  white-space: initial;
}

.blog-content {
  padding-left: 1rem;
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1px;
  white-space: pre-line;
}

/*
*/
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* 
====== 
Landing Page
======
*/

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

/* 
====== 
Login and Signup Page
======
*/

.auth-form-div {
  display: flex;
  justify-content: center;
  height: 100%;
}

.auth-form-wrapper-login,
.auth-form-wrapper-signup {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.auth-form-block-login,
.auth-form-block-signup {
  position: absolute;
  width: 285px;
  padding: 25px;
  background: rgba(51, 104, 129, 0.13);
  border-radius: var(--mainBorderRadius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-form-header {
  text-align: center;
  margin-bottom: 1rem;
}

.auth-form-header-text {
  font-size: 30px;
  margin: 0 0 20px;
}

.auth-form-toggle {
  position: relative;
}

.auth-form-toggle-span {
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, .65);
  text-decoration: none;
}

.form-input-signup {
  position: relative;
  margin-bottom: 2px;
  height: 6 * var(--inputHeight);
}

.form-input-login {
  position: relative;
  margin-bottom: 2px;
  height: 2 * var(--inputHeight);
}

.form-submit-button {
  display: inline-block;
  padding: 15px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 2 * var(--mainBorderRadius);
  color: #fff;
  background: #ED6A5E;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-submit-button:hover {
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.15);
}

.auth-form-error-text {
  font-size: 13px;
  font-weight: 300;
  color: rgb(206, 39, 39);
  text-decoration: none;
}

.form-input-field {
  display: block;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 10px;
  margin-bottom: 2px;
  background: rgba(255, 255, 255, .25);
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: var(--mainBorderRadius);
  border-color: #222;
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
====== 
Profile
======
*/

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* 
====== 
Add Blog
======
*/

.add-blog-section {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

.add-blog-div {
  display: flex;
  justify-content: center;
  height: 100%;
}

.add-blog-wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.add-blog-block,
.add-chapter-block,
.add-course-block,
.all-chapters-block,
.add-video-block {
  position: absolute;
  width: 90vh;
  padding: 25px;
  background: rgba(51, 104, 129, 0.13);
  border-radius: var(--mainBorderRadius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.add-blog-header {
  text-align: center;
  margin-bottom: 1rem;
}

.add-blog-header-text {
  font-size: 40px;
  margin: 0 0 20px;
}

.form-input-blog {
  position: relative;
  margin-bottom: 2px;
  height: 6 * var(--inputHeight);
}

.form-input-login {
  position: relative;
  margin-bottom: 2px;
}

.form-submit-button {
  display: inline-block;
  padding: 15px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 2 * var(--mainBorderRadius);
  color: #fff;
  background: #ED6A5E;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-submit-button:hover {
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.15);
}

.add-blog-error-text {
  font-size: 13px;
  font-weight: 500;
  color: rgb(206, 39, 39);
  text-decoration: none;
}

.form-input-field,
.content-input-field {
  display: block;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 10px;
  background: rgba(255, 255, 255, .25);
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: var(--mainBorderRadius);
  border-color: #222;
}

.content-input-field {
  height: 138px;
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-blog-label {
  font-size: 20px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  margin-top: 10px;
}

.add-blog-form-wrapper {
  display: grid;
  grid-template-rows: 15% 15% 40% 15% 15%;
  height: 80%;
}

.add-course-form {
  height: 100px;
}

.add-course-form-wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  height: 60%;
}

.add-chapter-form {
  height: 100px;
}

.add-chapter-form-wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  height: 60%;
}

.blog-input-wrapper {
  height: 110px;
}

.content-input-wrapper {
  height: 200px;
}

.add-blog-button-margin {
  margin-top: 20px;
}

.add-blog-block {
  transform: translate(0%, 15%);
  height: 76%;
}

.add-course-block {
  height: 138%;
  transform: translate(0%, 7%);
}

.add-chapter-block {
  height: 72%;
  transform: translateY(20%);
}

.all-chapters-block {
  transform: translateY(40%);
}

.add-video-block {
  height: 53%;
  transform: translateY(30%);
}


/* 
====== 
Comment Area
======
*/

.comment-section {
  background: rgba(51, 104, 129, 0.13);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-top: 1rem;
  flex-direction: column;
}

.comment-center-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comment-section h1 {
  font-size: 1.25rem;
}

.add-comment-section {
  padding: 1rem 0;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 60%;
}

.add-comment-form {
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comment-textarea {
  height: 100px;
  font-size: 1rem;
}

.comment-button {
  height: 50px;
  width: 35%;
  display: inline-block;
  padding: 15px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 2 * var(--mainBorderRadius);
  color: #fff;
  background: #ED6A5E;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.add-comment-text {
  font-size: 20px;
  font-weight: 500;
  color: #777777;
  text-decoration: none;
}

.comment-container,
.review-area {
  display: grid;
  grid-template-columns: 120px auto;
  background-color: #afafaf;
  margin-bottom: 10px;
  width: 60%;
  height: 100px;
}

.review-area {
  width: 100%;
}

.comment-profile-pic {
  border-radius: 50%;
  margin-right: 10px;
  height: 100px;
  width: 100px;
}

.comment-text-section {
  display: grid;
  grid-template-rows: 30% 70%;
}

.comment-user-name {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.comment-comment-text {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

/* 
====== 
All Chapters For Instructor
======
*/

.all-chapters-div {
  display: flex;
  justify-content: center;
  height: 100%;
}

.all-chapters-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #afafaf;
  margin-bottom: 10px;
}

.all-chapters-course-name {
  font-size: 20px;
  font-weight: 500;
  color: #777777;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.all-chapters-chapter-block {
  display: block;
  width: 100%;
  background-color: #c8cfda;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.all-chapters-current-videos {
  display: list-item;
  list-style: disc;
  font-size: 20px;
  font-weight: 500;
  color: #777777;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5rem;
}

/* 
====== 
Course Area
======
*/

.course-target-audience-list,
.outline-outcome-container {
  background: rgba(51, 104, 129, 0.13);
  border-radius: var(--mainBorderRadius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.course-target-audience-list {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.audience-list {
  list-style-type: disc;
  font-size: 1.15rem;
  margin-left: 10%;
}

.course-outcome-outline {
  display: grid;
  grid-template-columns: 49% 49% 2%;
  grid-gap: 20px;
}

.outline-outcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.outline-outcome-list-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
}

.review-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review-container-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.single-star-outline {
  height: 36px;
  width: 31px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: #f4ff5b;
}

.single-star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
}

.review-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto;
  grid-gap: 2px;
  margin-left: 2px;
}

.all-review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-dark-bg-container {
  background-color: #1c1d1f;
  padding-bottom: 3.2rem;
}

@media (min-width: 576px) {
  .top-dark-bg-container {
    padding-bottom: 3.2rem;
  }
}

.dark-inner-bg-container {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .dark-inner-bg-container {
    max-width: 118.4rem;
  }
}

.dark-bg-main-content {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
  color: #fff;
  display: grid;
  grid-template-columns: 60% 40%;
}

@media (min-width: 73.75em) {
  .dark-bg-main-content {
    max-width: 100rem;
  }
}

.course-info {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.4rem;
}

.course-name {
  font-size: 3.2rem;
  margin-bottom: 0.8rem;
}

.top-review-container {
  margin-bottom: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.top-review-score {
  margin-left: 0.8rem;
}

.course-thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.course-body {
  max-width: 118.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 73.75em) {
  .course-body {
    max-width: 118.4rem;
  }
}

.course-body-content {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
  padding-top: 3.2rem;
}

@media (min-width: 73.75em) {
  .course-body-content {
    max-width: 100rem;
  }
}

.course-outcome {
  padding-bottom: 1.6rem;
  border: 1px solid #d1d7dc;
  padding-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.course-outcome h2 {
  margin: 0 2.4rem 1.6rem;
}

.outcome-list-content {
  overflow: visible;
  max-height: none !important;
  position: relative;
  width: 100%;
  display: inline-block;
}

.course-outcome-list,
.target-audience-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  width: 100%;
  font-weight: 400;
}

.course-outcome-list {
  max-height: 300px;
}

.target-audience-list {
  list-style-type: disc;
  justify-content: left;

}

.course-outcome-list li,
.target-audience-list li {
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
}

.course-outcome-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target-audience-list li {
  display: list-item;
  list-style-type: disc;
}

.course-description,
.target-audience,
.review-container {
  margin-bottom: 3.2rem;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.4rem;
}

.review-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 3rem;
}

.review-mark-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  align-content: flex-start;
  align-items: flex-start;
}

.course-description h2,
.target-audience h2,
.review-container h2 {
  margin-bottom: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 2.4rem;
}

.review-container {
  flex-direction: row;
}

.review-container h2 {
  margin: 0px;
}

.target-audience {
  margin-top: 3.2rem;
}

.star-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b4690e;
}

.star-container h2 {
  font-size: 6.4rem;
  font-weight: 700;
  letter-spacing: -.02rem;
}

.review {
  padding: 1.5rem 2rem;
  text-align: center;
  transition: all 0.3s linear;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  background: #fff;
}

.review:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.review-img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.review-img-container:before {
  content: '';
  width: 100%;
  height: 100%;
  background: hsl(205, 78%, 60%);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

.reviewer-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.reviewer {
  margin-bottom: 0.25rem;
}

.reviewer-rating {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: hsl(205, 78%, 60%);
  font-size: 0.85rem;
}

.review-text {
  margin-bottom: 0.75rem;
}

.prev-btn,
.next-btn {
  color: hsl(205, 90%, 76%);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: hsl(205, 78%, 60%);
}

.add-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-review-container h3 {
  margin-bottom: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 2.4rem;
}

.add-review-container h4 {
  margin-bottom: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1.4rem;
}

.single-digit-input {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: .2em;
}

.single-digit-input:after {
  content: "—";
  line-height: .3em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.single-digit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  background: transparent;
  width: 1.5em;
  font-size: 1em;
}

.chapter-component-container {
  display: grid;
  grid-template-columns: 20% 80%;
  border: 1px solid #d1d7dc;
  margin-bottom: 1rem;
}

.chapter-component-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chapters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chapters-course-name {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  margin-bottom: 1.rem;
}

.desc-outcome-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.chapters-description,
.chapters-outcome {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chapters-description {
  margin-right: 10rem;
}

.chapters-outcome {
  margin-left: 10rem;
}

.video-component-body-container {
  margin-top: -1rem;
}

.video-component-container {
  border-bottom: 1px solid #d1d7dc;
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
}

.video-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chapter-component-body {
  border-left: 1px solid #d1d7dc;
  border-right: 1px solid #d1d7dc;
}

.instructor-video-bar {
  display: grid;
  grid-template-columns: 90% 10%;
  font-size: 20px;
  font-weight: 500;
  color: #777777;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5rem;
}

.instructor-video-bar-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page {
  height: 800px;
}

.landing-page-bg {
  margin-top: 3rem;
  background-image: url("BG.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-align: center;

  width: 550px;
  background-color: rgba(119, 119, 119, 0.5);
  height: 70%;
  color: azure;
}

.landing-page-bg h2 {
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
}

.homepage-wrapper {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  background-color: rgba(119, 119, 119, 0.1);
  height: 100%;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  min-height: 90vh;
}

.homepage-container h1 {
  font-size: 5rem;
  font-weight: 700;
}

.homepage-enrolled-courses-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.homepage-enrolled-courses-label {
  text-align: left;
  width: 100%;
}

.enrolled-courses-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}